@import url("reset.css");
@import url("global.css");

@import url("components/gear-dropdown.css");
@import url("components/interest-links.css");
@import url("components/main-content.css");
@import url("components/main-nav.css");
@import url("components/masthead.css");
@import url("components/search-modal.css");

:root {
  --black: #000;
  --blue: #326891;
  --dark-blue: #4d7b9f;
  --dark-gray: #6f6f6f;
  --darkest-blue: #265e8b;
  --gray: #999;
  --light-blue: #6288a5;
  --light-gray: #e2e2e2;
  --lightest-blue: #f0f8fc;
  --lightest-gray: #f7f7f5;
  --white: #fff;
}
